DATABASE_URL="postgresql://user:password@localhost:5432/securegate?schema=public"
NEXTAUTH_SECRET="your-super-secret-nextauth-key-generated-via-openssl"
NEXTAUTH_URL="http://localhost:3000"
RESEND_API_KEY="re_123456789"
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
